body{
    padding-left: 5%;
    padding-right: 5%;
}
.index-page-body, h1 {
    font-family: "Raleway", sans-serif;
}

.index-page-body, html {
    height: 100%;
}

.bgimg {
    background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

textarea {
    height: 50px;
    width: 400px;
}

#buttons {
    margin-left: 15px;
    width: 100%;
    height: 60px;
}
#topic-id{
    float:right;
}
#add, #edit, #header, #title {
    text: bold;
    text-align: center;
    color: white;
    background-color: rgb(21, 190, 155);
    margin-bottom: 30px;
}

ul {
    border: solid;
}

li {
    border: thin;
    width: auto;
}

a {
    underline-mode: none;
}

a {
    text-underline-mode: none;
}

#displayInfo {
    float: inherit;
    padding: inherit;
}

#eventName-field {
    align-content: center;
}
#topic-list {
    padding-right: 20px;
    border-width: 0;
}

.w3-display-middle {
    text-align: center;
}

.login {
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
    background-color: #009688;
}

.login:hover {
    color: black;
    background-color: #ccc;
}

.topic-list-a:hover {
    text-decoration: none;
}

#eventElement {
    text-align: center;
}

.ml-15 {
    margin-left: 15px;
}
